<div id="home">
  <div id="content-mid">
    <a href="#" class="thumbnail" id="propic">
      <%= image_tag("https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/000/1de/0ac/35ba8cc.jpg", :alt => "profile pic") %>
   </a>
    <h1>Wel<span class="halfblue">come</span></h1>
    <div id="pHome">
      <p>
         I'm Wayne. I love math, machine learning, and developing quality software.         <br/>
        Email: pro@KingLemuel.com
      </p>
      
      
      
  </div>
    <ul id="socialList">
         <li>
            <%= link_to(image_tag("LinkIn.png", :alt => "linked-in icon"), "https://www.linkedin.com/pub/wayne-tatum/5/a96/b21" , target: "_blank")  %>
         </li>
      
         <li>
           <%= link_to(image_tag("gI.png", :alt => "github icon"), "https://github.com/KingLemuel", target: "_blank")  %>
         </li>
         
         <li>
           <%= link_to(image_tag("Twit.png", :alt => "twitter icon"), "https://twitter.com/sirlemuel", target: "_blank") %>
         </li>
       </ul>
</div>
