<div id="home">
  <div id="content-mid">
    <a href="#" class="thumbnail" id="propic">
      <%= image_tag("propic.jpg", :alt => "profile pic") %>
   </a>
    <h1>Wel<span class="halfblue">come</span></h1>
    <div id="pHome">
      <p>
       
        
        *I MADE AN ASS OUT OF MYSELF TO MY BEST FRIEND MUFFIN! I PRAY SHE FORGIVES ME!!
        
         I'm Lemuel. Full Stack Developer, Mathematician, and Machine Learning enthusiast.         <br/>
        Email: lem@lemueluhuru.com
      </p>
    </div>
  </div>
</div>
