<div id="home">
  <div id="content-mid">
    <a href="#" class="thumbnail" id="propic">
      <%= image_tag("propic.jpg", :alt => "profile pic") %>
   </a>
    <h1>Wel<span class="halfblue">come</span></h1>
    <div id="pHome">
      <p>
         I'm Lemuel. Full Stack Developer, Mathematician, and Machine Learning enthusiast.         <br/>
        Email: lemueluhuru@gmail.com
      </p>
      
      
      
  </div>
    <ul id="socialList">
         <li>
            <%= link_to(image_tag("LinkIn.png", :alt => "linked-in icon"), "https://www.linkedin.com/pub/lemuel-uhuru/63/a9a/7a8" , target: "_blank")  %>
         </li>
      
         <li>
            <%= link_to(image_tag("gI.png", :alt => "github icon"), "https://github.com/LemuelUhuru", target: "_blank")  %>
         </li>
         
         <li>
           <%= link_to(image_tag("Twit.png", :alt => "twitter icon"), "https://twitter.com/LemuelUhuru", target: "_blank") %>
         </li>
       </ul>
</div>
