<div id="home">
  <div id="content-mid">
    <a href="#" class="thumbnail" id="propic">
      <%= image_tag("propic.jpg", :alt => "profile pic") %>
   </a>
    <h1>Wel<span class="halfblue">come</span></h1>
    <div id="pHome">
      <p>
         I'm Lemuel. Full Stack Developer, Mathematician, and Machine Learning enthusiast.         <br/>
        Email: lemueluhuru@gmail.com
      </p>
      
      
      <ul id="socialList">
         <li>
            <%= link_to(image_tag("LinkIn.png", :alt => "linked-in icon"), "#")  %>
         </li>
      
         <li>
            <%= link_to(image_tag("gI.png", :alt => "github icon"), "#")  %>
         </li>
         
         <li>
           <%= link_to(image_tag("Twit.png", :alt => "twitter icon"), "#") %>
         </li>
       </ul>
  </div>
</div>
