<div id="home">
  <div id="content-mid">
    <a href="#" class="thumbnail" id="propic">
      <%= image_tag("propic.jpg", :alt => "profile pic") %>
   </a>
    <h1>Wel<span class="halfblue">come</span></h1>
    <div id="pHome">
      <p>
        I'm Lemuel. Full Stack Developer, Mathematician, and Machine Learning enthusiast.         <br/>
        Email: lem@lemueluhuru.com
        
        * I made an ass out of myself to my best friend Muffin! I pray that she forgives me!
      </p>
    </div>
  </div>
</div>
