

	<!-- Body -->
	<div class="container">
		<div class="row">
			<div class="col-md-8">


				<article>
					<h2><a href="#">The Odin Project</a></h2>

			        <div class="row">
			          	<div class="col-sm-6 col-md-6">
			          		<span class="glyphicon glyphicon-folder-open"></span> &nbsp;<a href="#">Web Development</a>
			          		&nbsp;&nbsp;<span class="glyphicon glyphicon-bookmark"></span> <a href="#">Aries</a>, <a href="#">Fire</a>, <a href="#">Mars</a>
			          	</div>
			          	<div class="col-sm-6 col-md-6">
			          		<span class="glyphicon glyphicon-pencil"></span> <a href="#">0 Comments</a>			          		
			          		&nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span> October 19, 2014 9:00 PM			          		
			          	</div>
			          </div>

			          <hr>

			          <img src="http://www.campusghanta.com/wp-content/uploads/2012/04/Programming_OOP_Wallpaper_Red_by_hexeno-900x300.png" class="img-responsive">

			          <br />

			          <p class="lead">Web Development is not easy. However, that doesn’t mean it’s impossible either, there are just so many different technologies and tools that are required to be successful at it. (e.g, html, css, javascript, databases, web frameworks, jquery, xml, etc.) In a sense to be a complete developer requires proficiency at many different skills and in some cases specialized knowledge in areas such as machine learning.</p>

			         <!-- <p>The symbol of Aries is the Ram, and that's both good and bad news. Impulsive Aries might be tempted to ram their ideas down everyone's throats without even bothering to ask if they want to know. It's these times when you may wish Aries' symbol were a more subdued creature, more lamb than ram perhaps. You're not likely to convince the Ram to soften up; these folks are blunt and to the point. Along with those qualities comes the sheer force of the Aries nature, a force that can actually accomplish a great deal. Much of Aries' drive to compete and to win comes from its Cardinal Quality. Cardinal Signs love to get things going, and Aries exemplifies this even better than Cancer, Libra or Capricorn.</p> -->

					  <p class="text-right">
				          <a href="#">
				          	continue reading...
				          </a>
				      </p>

			          <hr>
				</article>


				
					
				<ul class="pager">
					<li class="previous"><a href="#">&larr; Previous</a></li>
					<li class="next"><a href="#">Next &rarr;</a></li>
				</ul>

			</div>
			<div class="col-md-4">
        
        <!-- SocialIcons -->
        
        <div class="sideIcons">
           <ul id="sideIcons">
         <li>
            <%= link_to(image_tag("LinkIn.png", :alt => "linked-in icon"), "https://www.linkedin.com/pub/lemuel-uhuru/63/a9a/7a8" , target: "_blank")  %>
         </li>
      
         <li>
            <%= link_to(image_tag("gI.png", :alt => "github icon"), "https://github.com/LemuelUhuru", target: "_blank")  %>
         </li>
         
         <li>
           <%= link_to(image_tag("Twit.png", :alt => "twitter icon"), "https://twitter.com/LemuelUhuru", target: "_blank") %>
         </li>
       </ul>
        </div>

				<!-- Latest Posts -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Latest Posts</h4>
					</div>
					<ul class="list-group">
						<li class="list-group-item"><a href="singlepost.html">1. The Odin Project</a></li>
					</ul>
				</div>

				<!-- Categories -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Categories</h4>
					</div>
					<ul class="list-group">
						<li class="list-group-item"><a href="#">Web Development</a></li>
						<li class="list-group-item"><a href="#">Mathematics</a></li>
						<li class="list-group-item"><a href="#">Machine Learning</a></li>
						<li class="list-group-item"><a href="#">Proverbs</a></li>
					</ul>
				</div>

				<!-- Tags 
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Tags</h4>
					</div>
					<div class="panel-body">
						<ul class="list-inline">
							<li><a href="#">Aries</a></li>
							<li><a href="#">Fire</a></li>
							<li><a href="#">Mars</a></li>
							<li><a href="#">Taurus</a></li>
							<li><a href="#">Earth</a></li>
							<li><a href="#">Moon</a></li>
							<li><a href="#">Gemini</a></li>
							<li><a href="#">Air</a></li>
							<li><a href="#">Mercury</a></li>
							<li><a href="#">Cancer</a></li>
						</ul>
					</div>
				</div> -->

				<!-- Recent Comments 
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Recent Comments</h4>
					</div>
					<ul class="list-group">
						<li class="list-group-item"><a href="#">I don't believe in astrology but still your writing style is really great! - <em>john</em></a></li>
						<li class="list-group-item"><a href="#">Wow.. what you said is really true! I'm an aries though - <em>Anto</em></a></li>
						<li class="list-group-item"><a href="#">Does capricorn and aries is compatibile? - <em>Sarah</em></a></li>
						<li class="list-group-item"><a href="#">I'm a cancer woman been in love with Leo. Will this work? - <em>Mary</em></a></li>
					</ul>
				</div> -->

			</div>
		</div>
	</div>
