@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Orbitron:700,400|Cookie);
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.4em;
  color: #000;
  
  letter-spacing: 1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  
  font-family: 'Orbitron', sans-serif;
}

#logo:hover {
  color: #000;
  text-decoration: none;
}





#navList a{
  color: #000;
}
#navList li {
  display: inline;
  list-style-type: none;
  
  float: right;
  margin-left: 10px;
  font-size: 1.1em;
  color: #000;
  
  letter-spacing: 1px;
  padding-top: 13px;
  line-height: 1;
  font-family: 'Orbitron', sans-serif;
}

/* Body */

body {
  background-image: image-url("nami.png");
  margin-top: 75px;
  /* Added padding is due to bootstrap note 
  regarding fixed top nav */
 /* padding-top: 70px; */
  color: #fff;
}

#articleBorder {
  border: 0.1em solid #202020;
}

/* Home Page */

#home {
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
}

#propic {
  width: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#content-mid h1{
  font-family: 'Orbitron', sans-serif;
  font-size: 3em;
  font-weight: bold;
  margin-top: 50px;
}

#pHome {
  margin-top: 40px;
}

#content-mid p{
  font-size: 1.2em;
  margin-top: 30px;
}

.halfblue{
  color: blue;
}

#socialList {
  list-style-type: none;
  margin-top: 40px;
  margin-right: 50px;
  margin-bottom: -110px;
}

#socialList li {
  display: inline;
  padding-left: 5px;
}

/* Sidebar */

#sideIcons {
  list-style-type: none;
  margin-top: 92px;
  margin-bottom: 20px;
}
#sideIcons li {
  display: inline;
  padding-left: 5px;
}
#sidebar {
  border-left: solid 1px #fff;
}

aside {
  margin-top: 100px;
}


/* Footer */

footer {
  color: #fff;
  position: relative;
  bottom: 0;
  text-align: center;
  margin-top: 150px;
}

